<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<logger name="com.zaxxer.hikari" level="WARN"></logger>
	<logger name="org.springframework.context.annotation"
		level="WARN" />
	<logger name="org.springframework.jndi" level="WARN" />
	<logger name="org.springframework." level="DEBUG" />
	<logger name="org.springframework.web" level="WARN" />
	<logger name="org.springframework.test" level="WARN" />
	<logger name="org.hibernate" level="INFO" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	   <root level="DEBUG"/>
    <appender-ref ref="STDOUT" />

</configuration>