<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.5//EN"
	"http://java.sun.com/dtd/web-app_2_5.dtd">
<web-app>
	<!-- <jsp-config> <jsp-properety-groupp> <url-pattern>*.jsp</url-pattern> 
		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude> </jsp-properety-groupp> 
		</jsp-config> -->



	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ttf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.woff</url-pattern>
	</servlet-mapping>
<!-- 
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-security.xml
		</param-value>
	</context-param> -->
	
</web-app>